*.class
*.num

# Intellij

.idea
*.iml

# Eclipse
.settings
.project
.classpath

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# target folder
target

# latex files
*.aux
*.bbl
*.blg
*.log
paper.pdf
*.synctex.gz
*.out

# graphs
gplus_combined.txt
big_graph_2

# Pem files
*.pem
